
<div class="col-md-7" style="width: 700px">
    <form style="color: black ;"  action = "/search" method="get"> 
    <label for="exampleFormControlInput1" class="form-label">Search User Name</label>
    <input style="border-color: black ;" type="text" class="form-control" name="name">
    <input type = "submit" value= "Submit" style="margin-top: 15px">
</div>
